# P4 - Réalisez une étude de santé publique avec R ou Python

In [1]:
import pandas as pd

## 1. La proportion des personnes en état de sous-nutrition

In [2]:
dispoAliment = pd.read_csv('dispo_alimentaire.csv')

In [3]:
ssNutrition = pd.read_csv('sous_nutrition.csv')

In [4]:
ssNutrition.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [5]:
ssNutrition[ssNutrition['Année'] == "2016-2018"].groupby(by='Zone').sum()

                           Année Valeur
Zone
Afghanistan            2016-2018   10.5
Afrique du Sud         2016-2018    3.1
Albanie                2016-2018    0.1
Algérie                2016-2018    1.3
Allemagne              2016-2018      0
...                          ...    ...
États-Unis d'Amérique  2016-2018      0
Éthiopie               2016-2018   21.1
Îles Cook              2016-2018      0
Îles Marshall          2016-2018      0
Îles Salomon           2016-2018   <0.1

[203 rows x 2 columns]

## 2. Le nombre théorique de personnes qui pourraient être nourries

In [6]:
dispoAliment = pd.read_csv('dispo_alimentaire.csv')

In [7]:
dispoAliment.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [8]:
population = pd.read_csv('population.csv')

In [9]:
population.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

In [10]:
population2017 = population[(population['Année'] == 2017)]

In [11]:
population2017.head()

              Zone  Année     Valeur
4      Afghanistan   2017  36296.113
10  Afrique du Sud   2017  57009.756
16         Albanie   2017   2884.169
22         Algérie   2017  41389.189
28       Allemagne   2017  82658.409

- Disponibilité alimentaire mondiale

In [12]:
nbTheo = dispoAliment.merge(population2017, how='inner')

In [13]:
nbTheo.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,Valeur
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN,2017,36296.113
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN,2017,36296.113
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,2017,36296.113
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2017,36296.113
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN,2017,36296.113

In [14]:
nbTheo['Disponibilité alimentaire (kcal/personne/année)'] = nbTheo['Disponibilité alimentaire (Kcal/personne/jour)']*365

In [15]:
nbTheo['Population']= nbTheo['Valeur']

In [16]:
nbTheo = pd.DataFrame(nbTheo, columns=['Zone','Année','Population','Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité alimentaire (kcal/personne/année)'])

In [17]:
normekcal = 2500*365

In [18]:
nbTheo['Portion annuelle'] =(nbTheo['Disponibilité alimentaire (kcal/personne/année)']*nbTheo['Population'])/normekcal

In [19]:
nbTheo.head()

,Zone,Année,Population,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire (kcal/personne/année),Portion annuelle
0,Afghanistan,2017,36296.113,5.0,1825.0,72.592226
1,Afghanistan,2017,36296.113,1.0,365.0,14.518445
2,Afghanistan,2017,36296.113,1.0,365.0,14.518445
3,Afghanistan,2017,36296.113,0.0,0.0,0.000000
4,Afghanistan,2017,36296.113,4.0,1460.0,58.073781

In [20]:
nbTheo.groupby(['Zone', 'Année', 'Population']).sum()

,,,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire (kcal/personne/année),Portion annuelle
Zone,Année,Population,,,
Afghanistan,2017,36296.113,2087.0,761755.0,30299.995132
Afrique du Sud,2017,57009.756,3020.0,1102300.0,68867.785248
Albanie,2017,2884.169,3188.0,1163620.0,3677.892309
Algérie,2017,41389.189,3293.0,1201945.0,54517.839751
Allemagne,2017,82658.409,3503.0,1278595.0,115820.962691
...,...,...,...,...,...
Émirats arabes unis,2017,9487.203,3275.0,1195375.0,12428.235930
Équateur,2017,16785.361,2346.0,856290.0,15751.382762
États-Unis d'Amérique,2017,325084.756,3682.0,1343930.0,478784.828637
Éthiopie,2017,106399.924,2129.0,777085.0,90610.175278
Îles Salomon,2017,636.039,2383.0,869795.0,606.272375

## 3. La disponibilité alimentaire des produits végétaux

In [21]:
dispoVege = dispoAliment.merge(population, how='inner')

In [22]:
dispoVege.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,Valeur
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.2,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN,2013,32269.589
1,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.2,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN,2014,33370.794
2,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.2,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN,2015,34413.603
3,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.2,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN,2016,35383.032
4,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.2,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN,2017,36296.113

In [23]:
dispoVege['Disponibilité alimentaire (kcal/personne/année)'] = dispoVege['Disponibilité alimentaire (Kcal/personne/jour)']*365

In [24]:
dispoVege['Population'] = dispoVege['Valeur']

In [25]:
dispoVege = pd.DataFrame(dispoVege, columns=['Zone','Année','Population','Origine','Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité alimentaire (kcal/personne/année)'])

In [26]:
conditionVege = dispoVege[(dispoVege.Origine == 'vegetale') & (dispoVege.Année == 2017)]

In [27]:
dispoVege = conditionVege

In [28]:
dispoVege['Portion annuelle'] =(dispoVege['Disponibilité alimentaire (kcal/personne/année)']*dispoVege['Population'])/normekcal

In [29]:
dispoVege.groupby(['Zone', 'Année','Population','Origine']).sum()

,,,,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire (kcal/personne/année),Portion annuelle
Zone,Année,Population,Origine,,,
Afghanistan,2017,36296.113,vegetale,1871.0,682915.0,27164.010969
Afrique du Sud,2017,57009.756,vegetale,2533.0,924545.0,57762.284779
Albanie,2017,2884.169,vegetale,2203.0,804095.0,2541.529723
Algérie,2017,41389.189,vegetale,2915.0,1063975.0,48259.794374
Allemagne,2017,82658.409,vegetale,2461.0,898265.0,81368.937820
...,...,...,...,...,...,...
Émirats arabes unis,2017,9487.203,vegetale,2718.0,992070.0,10314.487102
Équateur,2017,16785.361,vegetale,1732.0,632180.0,11628.898101
États-Unis d'Amérique,2017,325084.756,vegetale,2698.0,984770.0,350831.468675
Éthiopie,2017,106399.924,vegetale,2005.0,731825.0,85332.739048
Îles Salomon,2017,636.039,vegetale,2187.0,798255.0,556.406917

## 4. La disponibilité intérieure

In [30]:
dispoAliment.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN