# P4 - Réalisez une étude de santé publique avec R ou Python

## Préparation

* Importation des librairies

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

* Importation des fichiers csv

In [5]:
population = pd.read_csv('population.csv')

In [52]:
ssNutrition = pd.read_csv('sous_nutrition.csv')

In [7]:
dispoAliment = pd.read_csv('dispo_alimentaire.csv')

In [8]:
aideAliment = pd.read_csv('aide_alimentaire.csv')

* Mise à l'échelle des variables et remplissage des valeurs manquantes

In [9]:
population['Valeur'] = population['Valeur']*1000

In [53]:
ssNutrition['Valeur'] = pd.to_numeric(ssNutrition['Valeur'], errors='coerce')

In [54]:
ssNutrition['Valeur'] = ssNutrition['Valeur']*1000000

In [46]:
ssNutrition = ssNutrition.fillna(0)

In [13]:
dispoAliment = dispoAliment.fillna(0)

In [14]:
dispoAliment['Aliments pour animaux'] = dispoAliment['Aliments pour animaux'] * 1000

In [15]:
dispoAliment['Disponibilité intérieure'] = dispoAliment['Disponibilité intérieure'] * 1000

In [16]:
dispoAliment['Exportations - Quantité'] = dispoAliment['Exportations - Quantité'] * 1000

In [17]:
dispoAliment['Importations - Quantité'] = dispoAliment['Importations - Quantité'] * 1000

In [18]:
dispoAliment['Nourriture'] = dispoAliment['Nourriture'] * 1000

In [19]:
dispoAliment['Pertes'] = dispoAliment['Pertes'] * 1000

In [20]:
dispoAliment['Production'] = dispoAliment['Production'] * 1000

In [21]:
dispoAliment['Semences'] = dispoAliment['Semences'] * 1000

In [22]:
dispoAliment['Traitement'] = dispoAliment['Traitement'] * 1000

In [23]:
dispoAliment['Variation de stock'] = dispoAliment['Variation de stock'] * 1000

In [24]:
dispoAliment['Autres Utilisations'] = dispoAliment['Autres Utilisations'] * 1000

## 1. La proportion des personnes en état de sous-nutrition

* Affichage des fichiers

In [7]:
population.head()

          Zone  Année      Valeur
0  Afghanistan   2013  32269589.0
1  Afghanistan   2014  33370794.0
2  Afghanistan   2015  34413603.0
3  Afghanistan   2016  35383032.0
4  Afghanistan   2017  36296113.0

In [55]:
ssNutrition.head()

          Zone      Année      Valeur
0  Afghanistan  2012-2014   8600000.0
1  Afghanistan  2013-2015   8800000.0
2  Afghanistan  2014-2016   8900000.0
3  Afghanistan  2015-2017   9700000.0
4  Afghanistan  2016-2018  10500000.0

* Total de la population mondiale en 2017

In [37]:
totalPopulation = population[population['Année'] == 2017]['Valeur'].sum()
totalPopulation

7548134111.0

* Total de la population mondiale en sous-nutrition en 2017

In [56]:
totalSsNutrition = ssNutrition[ssNutrition['Année'] == "2016-2018"]['Valeur'].sum()
totalSsNutrition

535700000.0

Résultat : Proportion des personnes en sous-nutrition dans le monde en 2017 (en pourcentage)

In [57]:
resultat1 = totalSsNutrition/totalPopulation*100
print(resultat1, "%")

7.097118203283073 %

## 2. Le nombre théorique de personnes qui pourraient être nourries

* Affichage des fichiers

In [25]:
dispoAliment.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000.0,0.0,0.0,53000.0,0.0,53000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,2000.0,40000.0,39000.0,2000.0,3000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,0.0,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,0.0,82000.0,82000.0,0.0,0.0,0.0,0.0,0.0

In [26]:
population.head()

          Zone  Année      Valeur
0  Afghanistan   2013  32269589.0
1  Afghanistan   2014  33370794.0
2  Afghanistan   2015  34413603.0
3  Afghanistan   2016  35383032.0
4  Afghanistan   2017  36296113.0

* Création d'une table en filtrant sur la population en 2017

In [44]:
population2017 = population[(population['Année'] == 2017)]
population2017.head()

              Zone  Année      Valeur
4      Afghanistan   2017  36296113.0
10  Afrique du Sud   2017  57009756.0
16         Albanie   2017   2884169.0
22         Algérie   2017  41389189.0
28       Allemagne   2017  82658409.0

* Création d'une table issue de la fusion des tables 'dispoAliment' et 'population2017'

In [45]:
nbTheo = dispoAliment.merge(population2017, how='inner')
nbTheo.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,Valeur
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000.0,0.0,0.0,53000.0,0.0,53000.0,0.0,0.0,0.0,2017,36296113.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,2000.0,40000.0,39000.0,2000.0,3000.0,0.0,0.0,0.0,2017,36296113.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,0.0,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,0.0,82000.0,82000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0

* Renommage d'une colonne

In [46]:
nbTheo.rename(columns={"Valeur":"Population"},inplace=True)

* Création d'une colonne : disponibilité alimentaire par année

In [47]:
nbTheo['Disponibilité alimentaire (kcal/personne/année)'] = nbTheo['Disponibilité alimentaire (Kcal/personne/jour)']*365

* Création d'une colonne : 'Portion annuelle'

In [48]:
nbTheo['Portion annuelle'] =nbTheo['Disponibilité alimentaire (kcal/personne/année)']*nbTheo['Population']
nbTheo

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,Population,Disponibilité alimentaire (kcal/personne/année),Portion annuelle
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000.0,...,53000.0,0.0,53000.0,0.0,0.0,0.0,2017,36296113.0,1825.0,6.624041e+10
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,...,39000.0,2000.0,3000.0,0.0,0.0,0.0,2017,36296113.0,365.0,1.324808e+10
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,...,2000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,365.0,1.324808e+10
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,0.0,0.000000e+00
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,...,82000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,1460.0,5.299232e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15411,Îles Salomon,Viande de Suides,animale,0.0,0.0,45.0,4.70,4.28,1.41,3000.0,...,3000.0,0.0,2000.0,0.0,0.0,0.0,2017,636039.0,16425.0,1.044694e+10
15412,Îles Salomon,Viande de Volailles,animale,0.0,0.0,11.0,3.34,0.69,1.14,2000.0,...,2000.0,0.0,0.0,0.0,0.0,0.0,2017,636039.0,4015.0,2.553697e+09
15413,Îles Salomon,"Viande, Autre",animale,0.0,0.0,0.0,0.06,0.00,0.04,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2017,636039.0,0.0,0.000000e+00
15414,Îles Salomon,Vin,vegetale,0.0,0.0,0.0,0.07,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2017,636039.0,0.0,0.000000e+00
15415,Îles Salomon,"Épices, Autres",vegetale,0.0,0.0,4.0,0.48,0.21,0.15,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2017,636039.0,1460.0,9.286169e+08

* Création d'une variable : 'normekcal'

In [49]:
normekcal = 2500*365

* Affichage 'nbTheo' filtré sur la disponibilité alimentaire

In [50]:
nbTheo[['Zone','Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité alimentaire (kcal/personne/année)']].groupby(['Zone']).sum()

,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire (kcal/personne/année)
Zone,,
Afghanistan,2087.0,761755.0
Afrique du Sud,3020.0,1102300.0
Albanie,3188.0,1163620.0
Algérie,3293.0,1201945.0
Allemagne,3503.0,1278595.0
...,...,...
Émirats arabes unis,3275.0,1195375.0
Équateur,2346.0,856290.0
États-Unis d'Amérique,3682.0,1343930.0
Éthiopie,2129.0,777085.0
Îles Salomon,2383.0,869795.0

* Somme de la disponibilité alimentaire annuelle par pays

In [51]:
totalPortionAnnuelle = nbTheo['Portion annuelle'].sum()
totalPortionAnnuelle

7635429388975815.0

* Résultat : nombre théorique de personnes qui pourraient être nourrie mondialement en 2017

In [52]:
nbTheoNourris = totalPortionAnnuelle/normekcal
nbTheoNourris

8367593850.9324

* Résultat en pourcentage

In [53]:
resultat2 = nbTheoNourris*100/(population[population['Année'] == 2017]['Valeur'].sum())
print(resultat2, '%')

110.85645442809754 %

## 3. La disponibilité alimentaire des produits végétaux

* Affichage d'une table

In [54]:
nbTheo.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,Population,Disponibilité alimentaire (kcal/personne/année),Portion annuelle
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000.0,...,53000.0,0.0,53000.0,0.0,0.0,0.0,2017,36296113.0,1825.0,6.624041e+10
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,...,39000.0,2000.0,3000.0,0.0,0.0,0.0,2017,36296113.0,365.0,1.324808e+10
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,...,2000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,365.0,1.324808e+10
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,0.0,0.000000e+00
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,...,82000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,1460.0,5.299232e+10

* création d'un dataframe filtré sur certaines conditions

In [56]:
dispoAlimentVegetaux = nbTheo[(nbTheo.Origine == 'vegetale') & (nbTheo.Année == 2017)]
dispoAlimentVegetaux.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,Population,Disponibilité alimentaire (kcal/personne/année),Portion annuelle
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,...,39000.0,2000.0,3000.0,0.0,0.0,0.0,2017,36296113.0,365.0,1.324808e+10
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,...,2000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,365.0,1.324808e+10
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,0.0,0.000000e+00
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,...,82000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,1460.0,5.299232e+10
6,Afghanistan,Bière,vegetale,0.0,0.0,0.0,0.09,0.00,0.00,3000.0,...,3000.0,0.0,0.0,0.0,0.0,0.0,2017,36296113.0,0.0,0.000000e+00

* Somme de la disponibilité alimentaire annuelle par pays filtré sur les produits végétaux

In [57]:
totalPortionAnnuelleAlimentVegetaux = dispoAlimentVegetaux['Portion annuelle'].sum()
totalPortionAnnuelleAlimentVegetaux

6300178937197865.0

* Résultat : nombre théorique de personnes qui pourraient être nourrie mondialement en 2017 filtré sur les produits végétaux

In [58]:
nbTheoNourrisAlimentVegetaux = totalPortionAnnuelleAlimentVegetaux/normekcal
nbTheoNourrisAlimentVegetaux

6904305684.6004

* Résultat en pourcentage

In [59]:
resultat3 = nbTheoNourrisAlimentVegetaux*100/(population[population['Année'] == 2017]['Valeur'].sum())
print(resultat3,"%")

91.47036317940696 %

## 4. La disponibilité intérieure

* Affichage d'un fichier

In [60]:
dispoAliment.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000.0,0.0,0.0,53000.0,0.0,53000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,2000.0,40000.0,39000.0,2000.0,3000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,0.0,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,0.0,82000.0,82000.0,0.0,0.0,0.0,0.0,0.0

* Total de la disponibilité intérieure mondiale

In [63]:
totalDispoInt = dispoAliment['Disponibilité intérieure'].sum()
totalDispoInt

9848994000.0

* Total de l'alimentation animale mondiale

In [66]:
totalAlimentAnimaux = dispoAliment['Aliments pour animaux'].sum()
totalAlimentAnimaux

1304245000.0

* Résultat en fonction de la disponibilité intérieure (en pourcentage)

In [67]:
resultat4a = totalAlimentAnimauxMondial*100/totalDispoInt
print(resultat4a,'%')

13.242418464261426 %

* Total de la nourriture mondiale

In [68]:
totalNourriture = dispoAliment['Nourriture'].sum()
totalNourriture

4876258000.0

* Résultat en fonction de la disponibilité intérieure (en pourcentage)

In [69]:
resultat4b = totalNourriture*100/totalDispoInt
print(resultat4b,'%')

49.51021393657058 %

* Total des pertes mondiales

In [70]:
totalPertes = dispoAliment['Pertes'].sum()
totalPertes

453698000.0

* Résultat en fonction de la disponibilité intérieure (en pourcentage)

In [71]:
resultat4c = totalPertes*100/totalDispoInt
print(resultat4c,'%')

4.606541541196999 %

### Bilan alimentaire céréales 2017

* Liste des céréales

In [72]:
liste = ["Blé et produits", "Riz et produits", "Orge et produits", "Maïs et produits", "Seigle et produits",
                  "Avoine", "Millet et produits", "Sorgho et produits", "Céréales, Autres"]

* Affichage du fichier centré sur la liste ci-dessus

In [73]:
dispoCereales = dispoAliment.loc[dispoAliment['Produit'].isin(liste),:]
dispoCereales.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
12,Afghanistan,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67,Afrique du Sud,Avoine,vegetale,8000.0,0.0,5.0,0.75,0.09,0.16,49000.0,4000.0,25000.0,40000.0,1000.0,28000.0,1000.0,0.0,0.0
81,Afrique du Sud,"Céréales, Autres",vegetale,8000.0,0.0,1.0,0.07,0.00,0.02,12000.0,10000.0,3000.0,4000.0,0.0,19000.0,0.0,0.0,0.0
162,Albanie,Avoine,vegetale,25000.0,0.0,1.0,0.13,0.01,0.03,28000.0,0.0,1000.0,0.0,1000.0,27000.0,1000.0,0.0,0.0
176,Albanie,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.08,0.00,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

* Total de la disponibilité intérieure mondiale

In [74]:
totalDispoIntCereales = dispoCereales['Disponibilité intérieure'].sum()
totalDispoIntCereales

50892000.0

* Total de l'alimentation animal mondiale

In [76]:
totalAlimentAnimalCereales = dispoCereales['Aliments pour animaux'].sum()
totalAlimentAnimalCereales

35286000.0

* Résultat en pourcentage

In [78]:
resultat4d = totalAlimentAnimalCereales*100/totalDispoIntCereales
print(resultat4d,'%')

69.33506248526291 %

* Total de la nourriture mondiale

In [79]:
totalNourritureCereales = dispoCereales['Nourriture'].sum()
totalNourritureCereales

9227000.0

* Résultat en pourcentage

In [80]:
resultat4e = totalNourritureCereales*100/totalDispoIntCereales
print(resultat4e,'%')

18.130550970683014 %

* Total de la perte mondiale

In [81]:
totalPertesCereales = dispoCereales['Pertes'].sum()
totalPertesCereales

1299000.0

* Résultat en pourcentage

In [82]:
resultat4f = totalPertesCereales*100/totalDispoIntCereales
print(resultat4f, '%')

2.5524640414996465 %

### L'exportation du manioc en Thaïlande

* Affichage du fichier filtré sur l'exportation du manioc en Thaïlande

In [83]:
maniocThailande = dispoAliment.loc[(dispoAliment['Produit'] == 'Manioc') & (dispoAliment['Zone'] == 'Thaïlande'),:]
maniocThailande.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
13809,Thaïlande,Manioc,vegetale,1800000.0,2081000.0,40.0,13.0,0.05,0.14,6264000.0,25214000.0,1250000.0,871000.0,1511000.0,30228000.0,0.0,0.0,0.0

In [ ]:
resultat4g = maniocThailande['Exportations - Quantité'] * 100 / maniocThailande['Production']
print(resultat4g, '%')

13809    83.41273
dtype: float64 %

### Pourcentage de personnes en sous-nutrition en Thaïlande

* Création de variable à partir des dataframes filtrés sur 2017 et Thaïlande

In [70]:
ssNutritionThailande2017 = ssNutrition[(ssNutrition["Année"] == '2016-2018') & (ssNutrition["Zone"] == 'Thaïlande')]
totalssNutritionThailande2017 = ssNutritionThailande2017['Valeur'].sum()
totalssNutritionThailande2017

6200000.0

In [71]:
populationThailande2017 = population[(population['Année'] == 2017) & (population['Zone'] == 'Thaïlande')].sum()
totalPopulationThailande2017 = populationThailande2017['Valeur'].sum()
totalPopulationThailande2017

69209810.0

* Résultat en pourcentage

In [72]:
resultat4g = totalssNutritionThailande2017*100/totalPopulationThailande2017
print(resultat4g,'%')

8.958267621309753 %

## 5. Les pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017

In [244]:
ssAliment2017.sort_values('Proportion ssNutrition/population',ascending=False).head(10)

,Zone,Population en sous nutrition,Année,Valeur,Proportion ssNutrition/population
78,Haïti,5300000.0,2017,10982366.0,0.482592
157,République populaire démocratique de Corée,12000000.0,2017,25429825.0,0.471887
108,Madagascar,10500000.0,2017,25570512.0,0.410629
103,Libéria,1800000.0,2017,4702226.0,0.382797
100,Lesotho,800000.0,2017,2091534.0,0.382494
183,Tchad,5700000.0,2017,15016753.0,0.379576
161,Rwanda,4200000.0,2017,11980961.0,0.350556
121,Mozambique,9400000.0,2017,28649018.0,0.328109
186,Timor-Leste,400000.0,2017,1243258.0,0.321735
0,Afghanistan,10500000.0,2017,36296113.0,0.289287

## 6. Ceux qui ont le plus bénéficié d’aide depuis 2013

* Affichage du fichier

In [73]:
aideAliment.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

* Filtre à partir de l'année 2013

In [74]:
aideAliment2013 = aideAliment[aideAliment["Année"] >= 2013]
aideAliment2013

     Pays bénéficiaire  Année                   Produit  Valeur
0          Afghanistan   2013       Autres non-céréales     682
1          Afghanistan   2014       Autres non-céréales     335
2          Afghanistan   2013              Blé et Farin   39224
3          Afghanistan   2014              Blé et Farin   15160
4          Afghanistan   2013                  Céréales   40504
...                ...    ...                       ...     ...
1470          Zimbabwe   2015  Mélanges et préparations      96
1471          Zimbabwe   2013              Non-céréales    5022
1472          Zimbabwe   2014              Non-céréales    2310
1473          Zimbabwe   2015              Non-céréales     306
1474          Zimbabwe   2013                Riz, total      64

[1475 rows x 4 columns]

* Résultat en tonnes

In [75]:
aideAliment2013[['Pays bénéficiaire','Valeur']].groupby(by='Pays bénéficiaire').sum().sort_values('Valeur', ascending=False).head(10)

                                   Valeur
Pays bénéficiaire
République arabe syrienne         1858943
Éthiopie                          1381294
Yémen                             1206484
Soudan du Sud                      695248
Soudan                             669784
Kenya                              552836
Bangladesh                         348188
Somalie                            292678
République démocratique du Congo   288502
Niger                              276344

## 7. Informations utiles complémentaires

* Le pays avec le plus d'habitant

In [119]:
population2017.sort_values('Valeur', ascending=False).head(10)

                      Zone  Année        Valeur
262    Chine, continentale   2017  1.421022e+09
622                   Inde   2017  1.338677e+09
394  États-Unis d'Amérique   2017  3.250848e+08
628              Indonésie   2017  2.646510e+08
964               Pakistan   2017  2.079062e+08
190                 Brésil   2017  2.078338e+08
916                Nigéria   2017  1.908732e+08
118             Bangladesh   2017  1.596854e+08
406   Fédération de Russie   2017  1.455301e+08
676                  Japon   2017  1.275027e+08

* Le pays avec le moins d'habitant

In [120]:
population2017.sort_values('Valeur', ascending=True).head(10)

                                              Zone  Année   Valeur
1174                                   Saint-Siège   2017    793.0
1330                                      Tokélaou   2017   1300.0
922                                          Nioué   2017   1609.0
568                       Îles Falkland (Malvinas)   2017   3068.0
868                                     Montserrat   2017   4984.0
1168                      Saint-Pierre-et-Miquelon   2017   5887.0
1138  Sainte-Hélène, Ascension et Tristan da Cunha   2017   6008.0
1132                              Saint-Barthélemy   2017   9784.0
892                                          Nauru   2017  10573.0
1366                                        Tuvalu   2017  11370.0

* Les pays avec le plus de disponibilité alimentaire en 2017

In [122]:
nbTheo.groupby(['Zone', 'Année','Population']).sum().sort_values('Disponibilité alimentaire (kcal/personne/année)', ascending=False).head(10)

,,,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire (kcal/personne/année),Portion annuelle
Zone,Année,Population,,,
Autriche,2017,8819901.0,3770.0,1376050.0,1.213662e+13
Belgique,2017,11419748.0,3737.0,1364005.0,1.557659e+13
Turquie,2017,81116450.0,3708.0,1353420.0,1.097846e+14
États-Unis d'Amérique,2017,325084756.0,3682.0,1343930.0,4.368912e+14
Israël,2017,8243848.0,3610.0,1317650.0,1.086251e+13
Irlande,2017,4753279.0,3602.0,1314730.0,6.249278e+12
Italie,2017,60673701.0,3578.0,1305970.0,7.923803e+13
Luxembourg,2017,591910.0,3540.0,1292100.0,7.648069e+11
Égypte,2017,96442591.0,3518.0,1284070.0,1.238390e+14
Allemagne,2017,82658409.0,3503.0,1278595.0,1.056866e+14

* Les pays avec le moins de disponibilité alimentaire en 2017

In [123]:
nbTheo.groupby(['Zone', 'Année','Population']).sum().sort_values('Disponibilité alimentaire (kcal/personne/année)', ascending=True).head(10)

,,,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire (kcal/personne/année),Portion annuelle
Zone,Année,Population,,,
République centrafricaine,2017,4596023.0,1879.0,685835.0,3.152113e+12
Zambie,2017,16853599.0,1924.0,702260.0,1.183561e+13
Madagascar,2017,25570512.0,2056.0,750440.0,1.918914e+13
Afghanistan,2017,36296113.0,2087.0,761755.0,2.764875e+13
Haïti,2017,10982366.0,2089.0,762485.0,8.373889e+12
République populaire démocratique de Corée,2017,25429825.0,2093.0,763945.0,1.942699e+13
Tchad,2017,15016753.0,2109.0,769785.0,1.155967e+13
Zimbabwe,2017,14236595.0,2113.0,771245.0,1.097990e+13
Ouganda,2017,41166588.0,2126.0,775990.0,3.194486e+13
Timor-Leste,2017,1243258.0,2129.0,777085.0,9.661171e+11